.filters-wrapper {
	background-color: #fff;
	border-radius: 7px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__header {
		display: flex;
		width: 100%;
		justify-content: center;

		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 120%;
		letter-spacing: 0.0015em;
		color: #6b6b6f;
		order: 0;
		flex-grow: 0;
		text-transform: capitalize;
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		gap: 16px;
		padding: 2px 16px;

		& button,
		&_search-button {
			width: 100%;
		}
	}

	&__error-message {
		font-family: Inter;
		font-size: 14px;
		color: red;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
}
