.select-request-form {
  background: #f2f4f6;
  padding: 10px;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &__loader {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__filters {
    flex: 400;
    &_hidden {
      display: none;
    }
  }
  &__list {
    flex: 1500;
    width: 100%;
    overflow-x: auto;
  }
}
