@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./reset.scss");
@import url("./UIKit/shared/style.scss");
@import url("../src/App/components/Header/header.scss");
@import url("../src/App/components/SelectRequestForm/selectRequestForm.scss");
@import url("../src/App/components/SelectRequestFiltersForm/selectRequestFiltersForm.scss");
@import url("../src/App/components/SelectRequestList/selectRequestList.scss");

:root {
  --medpult-bg-color: #f2f4f6;
  --medpult-panel-color: white;
  --medpult-hover-color: #f8f8f8;
  --medpult-field-border-color: #d9d9d9;
  --medpult-blue-active-color: #64c3f4;
  --medpult-blue-link-color: #5295fa;
  --medpult-alert-color: #ff0505;
}

// Панель фильтрации
.filter-panel {
  margin-bottom: 15px;
  &__list {
    list-style-type: none;
  }
}

// Сброс стандартных стилей фильтров
.filter-panel__item--rp .button-add-element {
  display: none !important;
}

.filter-panel__item--team .button-add-element {
  display: none !important;
}

svg {
  color: transparent;
}
